name: CI tests
on:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '3.2', '3.3', '3.4', '4.0' ]
    env:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      HEROKU_API_USER: ${{ secrets.HEROKU_API_USER }}

    name: Setup env & run tests with Ruby ${{ matrix.ruby }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: "Set bundler path"
        run: bundle config set path 'vendor/bundle'
      - name: "Install dependencies"
        run: bundle install --jobs=4 --retry=3
      - name: "Hatchet setup"
        run: bundle exec hatchet ci:setup
      - name: "Run tests"
        run: bundle exec rspec
